@model User

<h1>Details for @Model.Name</h1>

<p>User: @Model.Name</p>
<p>Username: @Model.Username</p>
<form method="get" action="/Users/@Model.Id/Edit">
    <button>Edit</button>
</form>
<h3>Messages (@Model.Messages.Count)</h3>
@foreach(var message in Model.Messages)
{
    <p>[@message.CreatedAt.ToLocalTime()] @message.Content</p>
}

<form method="get" action="/Users/@Model.Id/Messages/New">
    <button>New Message</button>
</form>